<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "intercomm"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. intercomm.media</name>

    <description>
        bvhbkjb nlnklnlk nlnlnl
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/cb6fcddc0a545d94de421d7721725bbc.png" density="ldpi" />
        <icon src="res/android/icon/10f6400db3ca87cbafc81e977147989a.png" density="mdpi" />
        <icon src="res/android/icon/e88bbdccc65dd4bdb1cd59253ca2bc6a.png" density="hdpi" />
        <icon src="res/android/icon/9736dcdf3b2de4c87e2c3025e366c48f.png" density="xhdpi" />
        <icon src="res/android/icon/31742b9968a9a26a48e4dd5e28dd9667.png" density="xxhdpi" />
        <icon src="res/android/icon/586697be2c134b0bb940feafa602ee7f.png" density="xxxhdpi" />

        <splash src="res/android/screen/6f0e584be1ffe051a93359ec234acd75.png" density="port-hdpi"/>
        <splash src="res/android/screen/3ccfb18669a5633fb60d8d0634b9e0be.png" density="port-ldpi"/>
        <splash src="res/android/screen/2eb8e96835c4c4d12c55d340df387619.png" density="port-mdpi"/>
        <splash src="res/android/screen/d289109709e23ffe5222716c72a6e3a4.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/c33348745e4317aae145611ed876d93e.png" width="180" height="180" />
        <icon src="res/ios/icon/ede2cf3ef9a3bd76b59b66127fb097df.png" width="60" height="60" />
        <icon src="res/ios/icon/d5ee0c755884317366e784c028adb992.png" width="120" height="120" />
        <icon src="res/ios/icon/c26fb98cd0a65ceb33247686f436d1c3.png" width="76" height="76" />
        <icon src="res/ios/icon/af3bae7269e558d318233812e83367b2.png" width="152" height="152" />
        <icon src="res/ios/icon/e3f61b3f4b8dd98b157a0056df6d71df.png" width="57" height="57" />
        <icon src="res/ios/icon/3f3644832846478abf8a56ff441e6a67.png" width="114" height="114" />
        <icon src="res/ios/icon/7f4444569165a9f70c40dea9749ef478.png" width="72" height="72" />
        <icon src="res/ios/icon/6b02b76c0809aebebea0b14d5e0ba4b4.png" width="144" height="144" />
        <icon src="res/ios/icon/a049987646243bbe9353e45323d5fc9e.png" width="167" height="167" />
        <icon src="res/ios/icon/a4d3b6968605cce5cc32939390464156.png" width="29" height="29" />
        <icon src="res/ios/icon/813f598fec4434b230701eb0706ee94a.png" width="58" height="58" />
        <icon src="res/ios/icon/88996d8ccf01bd033e1bbf608d96bcb2.png" width="87" height="87" />
        <icon src="res/ios/icon/d36de551eae4d66e37d215045fbfa5c4.png" width="167" height="167" />

        <splash src="res/ios/screen/9beaece6608cac5ba4df57b8b3285450.png" />
        <splash src="res/ios/screen/5d2f3bc3310d1a053e0b5836391f369a.png" />
        <splash src="res/ios/screen/c363dd07543f281527d8546bebd0e26d.png" />
        <splash src="res/ios/screen/a58c5addc27c775212aae3beb6d26d81.png" />
        <splash src="res/ios/screen/859d2b9431749a0c8fa9aefa81440ebf.png" />
        <splash src="res/ios/screen/49dca7d64cf89de9ba3f9b54a4fa4b09.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/5e5d9ef4ff62d039db3c8d9099d653bb.png" target="StoreLogo" />
        <icon src="res/windows/icon/ab97d542100638e75f457fb2e8efa826.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/853cb5a5522e4995fa11d27226cb8f8c.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/871c0dbdde5f1a0e738ed98eb463df2e.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/d1c307022e3610f7c8e84c4116f3837c.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/36d45b4dbeaf12f6add552a3da4d0615.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/1cdb17d2d235e75a6bcff312227da422.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/4f7cb939656f90c689f4b0e30e63372b.png" target="SplashScreen"/>
        <splash src="res/windows/screen/ac1609d006039fa429699d77d8ea8fdd.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>